# Dependencies
node_modules/
package-lock.json
render.yaml
uptime-monitor.yml

# Environment variables
.env

# Test files
index1.js

# Logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp
*.swo